<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/static/css/2.43d354e1.chunk.css' />
    <link rel='stylesheet' href='/static/css/main.b3ddcb51.chunk.css' />

    <script  src='/static/js/2.e99bfcb6.chunk.js' ></script>
    <script  src='/static/js/main.a02ebe56.chunk.js' ></script>
    <script  src='/static/js/runtime~main.a8a9905a.js' ></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id='root'></div>
  </body>
</html>
