.btn.btn-outline-color {
  color: $color-bg-drak;
  border-color: $color-bg-drak;
}

.btn.btn-main-color {
  background-color: $color-bg-drak;
  color: #fff;
}

//components
.btn-chat {
  position: fixed;
  right:  4.5em;
  top: 1.3em;
  z-index: 1000;
}

.back-arrow {
  position: fixed;
  left: 5em;
  z-index: 1000;
  width: 3em;
  color: #000;
  margin-top: 1em;
  left: 0;
}

.btn-messenger {
  width: 3.5em;
  background-color: transparent;
  border: none;
  .badge {
    position: absolute;
    left: 26px;
    top: 2px;
    background-color: red;
  }
  svg{
    stroke: #000;
  }
}
