@import "./components/_App.scss";
@import "./components/_Map.scss";
@import "./components/_Login.scss";
@import "./components/_Register.scss";
@import "./components/_HorizontalScroll.scss";
@import "./components/_BtnProfile.scss";
@import "./components/_Profile.scss";

$color-bg-drak: #697ca9;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn.btn-outline-color {
  color: $color-bg-drak;
  border-color: $color-bg-drak;
}
